* {
	font-family: 'Outfit', sans-serif;
	color: #F8FAFB;
	--black-text: #1F2225;
	--dark-bg: #2f4f4f;
	--light-bg: #F8FAFB;
	--light-color: #e2fffe;
	--teal-bg: #008080;
}
.navbar {
	transition: 0.5s;
}

.bg-light {
	background-color: transparent !important;
}
.navbar-scrolled {
	background-color: #fff !important;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-scrolled .nav-item .nav-link {
	color: #1F2225;
}
.navbar-scrolled .navbar-nav .nav-link.active {
	color: #008080;
}
.navbar-scrolled .nav-item .nav-link:hover {
	color: #008080;
}

.banner {
	height: 100vh;
	background-color: var(--dark-bg);
}


@media (min-width: 1299px) {
	.banner .banner-content {
		padding-top: 20%;
	}
}


.banner .banner-text h1 {
	font-size: 4rem;
}
.banner .banner-text h3 {
	font-size: 2.1rem;
}
.banner .banner-button {
	padding-top: 20px;
}
.banner .my-btn {
	background-color: transparent;
	border-color: #008080;
}
.banner .my-link {
	background-color: transparent;
	border-color: transparent;
}
.about{
	background-image: linear-gradient(#e2fffe, #e6fffe);
	/*background-image: linear-gradient(red, yellow);*/
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.about .about-title, .about .about-text {
	color: var(--black-text);
	padding-right: 5rem;
}
.about .about-title {
	font-size: 3rem;
}
.about .about-text {
	font-size: 1.1rem;
}

.why-us{
	background-image: linear-gradient(#e6fffe, #ffffff);
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.why-us .why-us-title, .why-us .why-us-text {
	color: var(--black-text);
	padding-left: 5rem;
}
.why-us .why-us-title {
	font-size: 3rem;
}
.why-us .why-us-text {
	font-size: 1.1rem;
}
.why-us ul {
	padding-left: 5rem;
	padding-top: 1rem;
}
.why-us li {
	color: var(--black-text);
	font-size: 1.1rem;
	list-style: none;
	padding: .3rem;
}
.why-us li i {
	color: #008080;
	padding-right: 0.5rem;
}

.service {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.service .custom-bg {
	background-color: var(--light-color);
	padding: 1rem;
	border: solid 1px transparent;
	border-radius: 20px;
}
.service .service-title {
	color: var(--black-text);
	font-size: 3rem;
}
.service .service-text {
	font-size: 1.5rem;
	color: var(--black-text);
}
.service .card {
	border-radius: 20px;
	background-color: var(--teal-bg);
}
.service .iconBx {
	width: 90%;
	padding: 1rem;
}

.service .iconBx i {
	font-size: 5rem;
	/*color: #008080;*/
	padding-top: 1rem;
}
.service .card-body {
	padding: 0;
}
.service .titleBx {
	width: 90%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cdcdcd;
}
.service .titleBx .icon-title i {
	font-size: 3rem;
	bottom: 0;
}
.service .titleBx .card-title {
	font-size: 1.5rem;
	padding-left: 0;
	/*color: var(--black-text);*/
}
.service .titleBx .card-text {
	/*color: var(--black-text);*/
}
.service .listBx {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.service .listBx ul {
	padding-right: 0.2rem;
}
.service .listBx li {
	list-style: none;
	/*color: var(--black-text);*/
}
.service .listBx .btnBx i {
	/*color: var(--black-text);*/
	font-weight: lighter;
	padding-left: 0.3rem;
	transition: 0.5s;
}
.service .listBx .btnBx:hover i {
	color: var(--dark-bg);
	padding-left: 0.5rem;
}
.service .listBx li i {
	/*color: #008080;*/
	padding-right: 0.5rem;
}
.service .listBx a{
	text-decoration: none;
	color: var(--light-text);
	font-size: 1.2rem;
	padding-left: 1.5rem;
}

.team .team-title {
	color: var(--black-text);
	font-size: 3rem;
}
.team .team-text {
	color: var(--black-text);
	font-size: 1.5rem;
}
.team .team-img {
	border-radius: 20px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	-moz-filter: grayscale(100%);
  	filter: grayscale(100%);
  	transition: all .5s ease;
}
.team .teamBx:hover .team-img {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
	-moz-filter: grayscale(100%);
  	filter: none;
}

.team .teamBx .team-contentBx {
	margin: 0 auto;
	background-color: transparent;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 20px;
	margin-top: 20px;
	transition: all .5s ease;
}
.team .teamBx .team-contentBx h3 {
	color: var(--black-text);
}

.team .teamBx .team-contentBx .name {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.team .teamBx .team-contentBx .title {
	font-size: 1rem;
	word-spacing: 0.2rem;
}

.team .teamBx .team-contentBx .desc,
.team .teamBx .team-contentBx i {
	color: var(--black-text);
}
.team .teamBx:hover .team-contentBx {
	background-color: var(--light-bg);
	border-color: var(--light-bg);
}
.team .teamBx .team-contentBx .social-link {
	margin: auto;
}
.team .teamBx .team-contentBx i {
	font-size: 1.5rem;
	transition: 0.5s;
}
.team .teamBx .team-social {
	margin: 0 auto;
	/*display: grid;*/
	/*align-items: center;
	text-align: center;*/
}
.team .teamBx .team-social a:nth-child(2) {
	margin-left: 1rem;
	margin-right: 1rem;
}

.team .teamBx .team-social a:hover i {
	color: #008080;
}

.call-to-action {
	position: relative;
	z-index: 2;
}
.call-to-action .actionBx {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #008080;
	border-radius: 20px;
	padding: 5%;
}
.call-to-action .action-text {
	display: inline-flex;
}
.call-to-action .action-text .small-text {
	font-size: 30px;
}
.call-to-action .action-text .large-text {
	font-size: 100px;
	line-height: 2rem;
}
.call-to-action .call-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
}
.call-to-action .call-text {
	font-size: 1.2rem;
}
.call-to-action .call-right-text {
	font-size: 1.2rem;
}
.call-to-action .my-btn {
	background-color: transparent;
	border-color: white;
}
.call-to-action i {
	margin: 10px;
	transition: all 0.2s ease;
}
.call-to-action .my-btn:hover i{
	transform: scale(1.1);
}

.footer {
	position: relative;
	background-color: var(--dark-bg);
}
@media screen and (min-width: 1299px) {
	.footer {
		padding-top: 230px;
		margin-top: -170px;
	}
} 
.footer .footer-title {
	font-size: 2.5rem;
}
.footer .footer-text {
	font-size: 1rem;
	line-height: 1.7rem;
}
.footer .footer-social {
	display: flex;
}
.footer .footer-social a {
	transition: all 1s ease;
}
.footer .footer-social .footer-icon {
	background-color: #008080;
	width: 40px;
	height: 40px;
	border: 1px solid #008080;
	border-radius: 20%;
	text-align: center;
	margin: 0 15px;
}
.footer .footer-social .footer-icon:hover {
	background-color: transparent;
}
.footer .footer-social .footer-icon .fa {
	margin-top: 50%;
	transform: translateY(-50%);
}
/*.footer > .footer h2, .footer p,  .footer li, .footer h2 {
	color: var(--dark-bg);
}*/
.footer ul {
	padding-left: 0;
}
.footer li {
	list-style: none;
}
.footer .my-btn {
	background-color: transparent;
	border-color: #008080;
}