* {
	font-family: 'Outfit', sans-serif;
	color: #F8FAFB;
	--black-text: #1F2225;
	--dark-bg: #1d3030;
	--light-bg: #F8FAFB;
	--light-color: #e2fffe;
	--teal-bg: #008080;
}
body {
	overflow-x: hidden;
}
.navbar {
	transition: 0.5s;
	overflow: hidden;
}

.bg-light {
	background-color: transparent !important;
}
.navbar-brand img{
	max-height: 50px;
}
.navbar-scrolled {
	background-color: #fff !important;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-scrolled .nav-item .nav-link {
	color: #1F2225;
}
.navbar-scrolled .navbar-nav .nav-link.active {
	color: #008080;
}
.navbar-scrolled .nav-item .nav-link:hover {
	color: #008080;
}

.banner {
	/*height: 100vh;*/
	position: relative;
	height: 100vh;
	background-color: #fbf8ff;
	overflow: hidden;
}


/*.banner .banner-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/

.banner .half-circle-1 {
	position: absolute;
	/*bottom: -50px;*/
	/*left: 50%;*/
	transform: translateX(-50%);
	width: 400px;
	height: 400px;
	overflow: hidden;
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid var(--teal-bg);
	opacity: 0.2;
	animation: movebounce 20s infinite;
	/*z-index: -1;*/
}
@keyframes movebounce {
	0% {
		left: 50%;
		bottom: -10%;
		opacity: 0.2;
	}
	50% {
		left: 40%;
		bottom: 20%;
		opacity: 0;
	}
	100% {
		left: 50%;
		bottom: -10%;
		opacity: 0.2;
	}
}
.banner .square-1 {
	position: absolute;
	/*top: 95px;*/
	width: 300px;
	height: 550px;
	right: 40px;
	top: 50%;
	transform: translateY(-45%);
	overflow: hidden;
	background-color: var(--teal-bg);
	opacity: 0.9;
}

.banner .square-2 {
	position: absolute;
	top: 45%;
	transform: translateY(-20%);
	width: 400px;
	height: 270px;
	right: 85px;
	overflow: hidden;
	background-color: var(--teal-bg);
	opacity: 0.9;
}
.banner .half-circle-2 {
	position: absolute;
	top: -40px;
	width: 270px;
	height: 270px;
	left: -40px;
	/*overflow: hidden;*/
	background-color: transparent;
	border: 2px solid var(--teal-bg);
	border-radius: 50%;
	opacity: 0.1;
}
.banner .banner-text h1 {
	font-size: 4rem;
	color: var(--dark-bg);
}
.banner .banner-text h1 span {
	color: var(--teal-bg);
}
.banner .banner-text h3 {
	font-size: 2.1rem;
	color: var(--dark-bg);
}
.banner .banner-button {
	padding-top: 20px;
}
.banner .my-btn {
	background-color: transparent;
	border: 2px solid #008080;
	color: var(--black-text);
}
.banner .my-link {
	background-color: transparent;
	border-color: transparent;
	color: var(--black-text);
}
@media (min-width: 1920px) {
	.banner .square-1 {
		height: 260px;
		width: 480px;
		right: 15%;
		top: 46%;
	}
	.banner .square-2 {
		height: 260px;
		width: 480px;
		right: 18%;
		top: 50%;
	}
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.banner .homepage-img {
		padding-top: 5%;
		padding-right: 40%;
	}
}
@media (min-width: 1400px) and (max-width: 1919px) {
	.banner .square-1 {
		height: 750px;
		width: 400px;
		right: 80px;
	}
	.banner .square-2 {
		height: 280px;
		width: 500px;
		right: 130px;
	}
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.banner .homepage-img {
		padding-right: 25%;
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		/*margin-top: 300px;*/
	}
	.banner .homepage-img {
		padding-right: 20%;
	}
	.banner .img-social, .banner .img-photo {
		margin-top: -60px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.banner .square-1 {
		height: 600px;
		top: 48%;
		width: 300px;
		right: 40px;
	}
	.banner .square-2 {
		height: 230px;
		width: 350px;
		right: 80px;
	}
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-40%);
	}
	.banner .banner-text .banner-title-1 {
		font-size: 2.5rem;
	}
	.banner .banner-text .banner-title-2 {
		font-size: 1.8rem;
	}
	.banner .homepage-img {
		padding-right: 20%;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-40%);
		text-align: center;
		padding: 10%;
	}
	.banner .homepage-img {
		margin-top: 5%;
	}
	.banner .square-1, .banner .square-2 {
		display: none;
	}
	.banner .half-circle-1 {
		height: 150px;
		width: 150px;
	}
	.banner .banner-text .banner-title-1 {
		font-size: 2.5rem;
	}
	.banner .banner-text .banner-title-2 {
		font-size: 2rem;
	}
}
@media (max-width: 575.98px) {
	.banner .square-1, .banner .square-2 {
		display: none;
	}
	.banner .half-circle-1 {
		height: 150px;
		width: 150px;
	}
	.banner .banner-text .banner-title-1 {
		font-size: 2rem;
	}
	.banner .banner-text .banner-title-2 {
		font-size: 1.5rem;
	}
	.banner .banner-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding-right: 2%;
	}
	.banner .banner-text {
		text-align: center;
	}
	.banner .homepage-img {
		padding-top: 10%;
	}

}

.banner .we-do {
	color: var(--dark-bg);
}
.typed-cursor {
    opacity: 1;
    color: black;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.photography-hero {
	margin-top: 5%;
}
.about{
	position: relative;
	background-image: linear-gradient(#fbf8ff, #e6fffe);
}
/*.about .about-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/
.about .about-title, .about .about-text {
	color: var(--black-text);
	/*padding-right: 5rem;*/
}
.about .about-title {
	font-size: 3rem;
}
@media screen and (max-width: 991.98px) {
	.about .about-content {
		text-align: center;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.about .about-title {
		font-size: 2.5rem;
	}
	.about .about-img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media (min-width: 1400px){
	.about .about-content {
		margin-top: 5%;
	}
}
.about .about-text {
	font-size: 1.1rem;
}
.about ul {
	padding-left: 0;
	/*padding-top: 1rem;*/
}
.about li {
	color: var(--black-text);
	font-size: 1.1rem;
	list-style: none;
	padding: .3rem;
}
.about li i {
	color: #008080;
	padding-right: 0.5rem;
}

.why-us{
	background-image: linear-gradient(#e6fffe, #ffffff);
}
@media screen and (min-width: 1199px) {
	.why-us .why-us-img {
		position: relative;
		top: 40%;
		transform: translateY(-50%);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.why-us .why-us-img {
		position: relative;
		left: 65%;
		transform: translateX(-50%);
	}
}
.why-us .why-us-title {
	color: var(--black-text);
}
@media (min-width: 992px) {
	.why-us .why-us-title, .why-us .why-us-text {
		padding-left: 3rem;
	}
}
@media screen and (max-width: 991px) {
	.why-us .why-us-title {
		text-align: center;
	}
}
.why-us .why-us-title {
	font-size: 3rem;
}
.why-us .why-us-text {
	font-size: 1.1rem;
}
.why-us .why-us-card-text {
	color: var(--dark-bg);
}
.why-us ul {
	padding-left: 5rem;
	padding-top: 1rem;
}
.why-us li {
	color: var(--black-text);
	font-size: 1.1rem;
	list-style: none;
	padding: .3rem;
}
.why-us li i {
	color: #008080;
	padding-right: 0.5rem;
}

.service {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.service .custom-bg {
	background-color: var(--light-color);
	padding: 1rem;
	border: solid 1px transparent;
	border-radius: 20px;
}
.service .service-title {
	color: var(--black-text);
	font-size: 3rem;
}
.service .service-text {
	font-size: 1.5rem;
	color: var(--black-text);
}
.service .service-desc {
	background-color: white;
	margin-right: 2rem;
	margin-left: 2rem;
	border-radius: 20px;
	margin-bottom: 50px;
}
@media (min-width: 992px) {
	.service .service-img {
		position: relative;
		top: 55%;
		transform: translateY(-50%);
	}
}
@media screen and (max-width: 575.98px) {
	.service .service-desc {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}
.service .service-desc-title {
	color: var(--black-text);
	font-size: 2rem;
}
.service .service-desc-title-right {
	color: var(--black-text);
	font-size: 2rem;
	/*margin-left: 50px;*/
}
.service .service-desc-text {
	font-size: 1.2rem;
	color: var(--black-text);
	/*max-width: 90%;*/
}
.service .service-desc-text-right {
	font-size: 1.2rem;
	color: var(--black-text);
	/*margin-left: 50px;*/
}
.service .service-desc-list {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	font-size: 1.1rem;
	line-height: 2rem;
}
.service .service-desc-list-right {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	font-size: 1.1rem;
	line-height: 2rem;
}
.service .service-desc-list i {
	color: var(--teal-bg);
}
.service .service-desc-list-right i {
	color: var(--teal-bg);
}
.service .service-desc-list li {
	color: var(--black-text);
}
.service .service-desc-list-right li {
	color: var(--black-text);
	/*margin-left: 50px;*/
}
.service .service-desc-btn {
	text-decoration: none;
	color: var(--dark-bg);
	font-size: 1.2rem;
}
.service .service-desc-btn-right {
	text-decoration: none;
	color: var(--dark-bg);
	font-size: 1.2rem;
	/*margin-left: 50px;*/
}
.service .service-desc-btn i {
	color: black;
	font-weight: lighter;
	padding-left: 0.3rem;
	transition: 0.5s;
}
.service .service-desc-btn-right i {
	color: black;
	font-weight: lighter;
	padding-left: 0.3rem;
	transition: 0.5s;
}
.service .service-desc-btn:hover i {
	color: var(--dark-bg);
	padding-left: 0.5rem;
}
.service .service-desc-btn-right:hover i {
	color: var(--dark-bg);
	padding-left: 0.5rem;
}
.service .card {
	border-radius: 20px;
	background-color: var(--teal-bg);
}
.service .iconBx {
	width: 90%;
	padding: 1rem;
}

.service .iconBx i {
	font-size: 5rem;
	/*color: #008080;*/
	padding-top: 1rem;
}
.service .card-body {
	padding: 0;
}
.service .titleBx {
	width: 90%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cdcdcd;
}
.service .titleBx .icon-title i {
	font-size: 3rem;
	bottom: 0;
}
.service .titleBx .card-title {
	font-size: 1.5rem;
	padding-left: 0;
	/*color: var(--black-text);*/
}
.service .titleBx .card-text {
	/*color: var(--black-text);*/
}
.service .listBx {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.service .listBx ul {
	padding-right: 0.2rem;
}
.service .listBx li {
	list-style: none;
	/*color: var(--black-text);*/
}
.service .listBx .btnBx i {
	/*color: var(--black-text);*/
	font-weight: lighter;
	padding-left: 0.3rem;
	transition: 0.5s;
}
.service .listBx .btnBx:hover i {
	color: var(--dark-bg);
	padding-left: 0.5rem;
}
.service .listBx li i {
	/*color: #008080;*/
	padding-right: 0.5rem;
}
.service .listBx a{
	text-decoration: none;
	color: var(--light-text);
	font-size: 1.2rem;
	padding-left: 1.5rem;
}

.team .team-title {
	color: var(--black-text);
	font-size: 3rem;
}
.team .team-text {
	color: var(--black-text);
	font-size: 1.5rem;
}
.team .team-img {
	border-radius: 20px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	-moz-filter: grayscale(100%);
  	filter: grayscale(100%);
  	transition: all .5s ease;
}
.team .teamBx:hover .team-img {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
	-moz-filter: grayscale(100%);
  	filter: none;
}

.team .teamBx .team-contentBx {
	margin: 0 auto;
	background-color: transparent;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 20px;
	margin-top: 20px;
	transition: all .5s ease;
}
.team .teamBx .team-contentBx h3 {
	color: var(--black-text);
}

.team .teamBx .team-contentBx .name {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.team .teamBx .team-contentBx .title {
	font-size: 1.1rem;
	word-spacing: 0.3rem;
}
.team .teamBx .team-contentBx .title-2 {
	font-size: 1rem;
	word-spacing: 0.2rem;
}

.team .teamBx .team-contentBx .desc,
.team .teamBx .team-contentBx i {
	color: var(--black-text);
}
.team .teamBx:hover .team-contentBx {
	background-color: var(--light-bg);
	border-color: var(--light-bg);
}
.team .teamBx .team-contentBx .social-link {
	margin: auto;
}
.team .teamBx .team-contentBx i {
	font-size: 1.5rem;
	transition: 0.5s;
}
.team .teamBx .team-social {
	margin: 0 auto;
	/*display: grid;*/
	/*align-items: center;
	text-align: center;*/
}
.team .teamBx .team-social a:nth-child(2) {
	margin-left: 1rem;
	margin-right: 1rem;
}

.team .teamBx .team-social a:hover i {
	color: #008080;
}

.call-to-action {
	position: relative;
	z-index: 2;
}
.call-to-action .actionBx {
	position: relative;
	/*width: 80%;
	left: 50%;
	transform: translateX(-50%);*/
	background-color: #008080;
	border-radius: 20px;
	padding: 5%;
	overflow: hidden;
}
.call-to-action .action-fig-1 {
	position: absolute;
	width: 200px;
	height: 200px;
	left: -70px;
	bottom: -70px;
	border-radius: 50%;
	background-color: var(--dark-bg);
	opacity: 0.1;
}
.call-to-action .action-fig-2 {
	position: absolute;
	width: 300px;
	height: 300px;
	right: -100px;
	top: -100px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid white;
	opacity: 0.1;
}
.call-to-action .action-text {
	display: inline-flex;
}
.call-to-action .action-text .small-text {
	font-size: 30px;
}
.call-to-action .action-text .large-text {
	font-size: 100px;
	line-height: 2rem;
}
@media screen and (max-width: 575.98px) {
	.call-to-action .container {
		max-width: 90%;
	}
	.call-to-action .action-text .small-text {
		font-size: 15px;
	}
	.call-to-action .action-text .large-text {
		font-size: 50px;
		margin-top: -5px;
	}
}
/*.call-to-action .call-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
}
.call-to-action .call-text {
	font-size: 1.2rem;
}
.call-to-action .call-right-text {
	font-size: 1.2rem;
}*/
.call-to-action .my-btn {
	background-color: transparent;
	border: 2px solid white;
}
.call-to-action i {
	margin: 10px;
	transition: all 0.2s ease;
}
.call-to-action .my-btn:hover i{
	transform: scale(1.1);
}

.footer {
	position: relative;
	background-color: var(--dark-bg);
}
@media screen and (min-width: 1299px) {
	.footer {
		padding-top: 230px;
		margin-top: -170px;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.footer {
		padding-top: 185px;
		margin-top: -150px;
	}
	/*.footer .container {
		max-width: 90%;
	}*/
}
@media screen and (max-width: 575.98px) {
	.footer {
		padding-top: 180px;
		margin-top: -125px;
	}
	.footer .container {
		max-width: 90%;
	}
}
/*.footer .footer-title {
	font-size: 2.5rem;
}*/
.footer .footer-title img {
	max-height: 50px;
	margin-left: -10px;
}
.footer .footer-text {
	font-size: 1rem;
	line-height: 1.7rem;
}
.footer .footer-social {
	display: flex;
}
.footer .footer-social a {
	transition: all 1s ease;
}
.footer .footer-social .footer-icon {
	background-color: #008080;
	width: 40px;
	height: 40px;
	border: 1px solid #008080;
	border-radius: 20%;
	text-align: center;
	margin: 0 15px;
}
.footer .footer-social .footer-icon:hover {
	background-color: transparent;
}
.footer .footer-social .footer-icon .fa {
	margin-top: 50%;
	transform: translateY(-50%);
}
/*.footer > .footer h2, .footer p,  .footer li, .footer h2 {
	color: var(--dark-bg);
}*/
.footer ul {
	padding-left: 0;
}
.footer li {
	list-style: none;
}
.footer .my-btn {
	background-color: transparent;
	border-color: #008080;
}

.modal-body h3 {
	color: var(--dark-bg);
	font-size: 3rem;
}
.modal-body .text-secondary small{
	color: var(--dark-bg);
	font-size: 1.2rem;
}
.modal-body label {
	color: var(--dark-bg);
}
.modal-body .btn-close {
	position: absolute;
	top: 2%;
	right: 2%;
}
.modal-body button {
	background-color: transparent;
	border-color: #008080;
	color: var(--dark-bg);
}
.modal-body button:hover {
	background-color: #008080;
	color: white;
	border-color: transparent;
}